@import url('https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.botaomenu {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	width: 4rem; 
	height: 4rem; 
	border-radius: 50%; 
	background-color: #39bec3; 
	cursor: pointer;

	transition: background-color 500ms ease-in-out; 
}

.card__image-container .botaomenu {
	margin: 1.5rem;
}

.botaomenu:hover,
.botaomenu:focus,
.botaomenu:active {
    background-color: rgba(0,0,0,0.8); }

.iconemenu {
	position: relative; 
    width: 2rem; 
	height: 1.5rem; 
}

.iconemenu span {
    position: absolute; 
    height: 0.125rem; 
    width: 100%;
    background-color: #332F21; 
    transition: background-color 500ms ease-in-out; 
}

.iconemenu span:nth-child(1) {
    top: 0.0625rem; 
}

.iconemenu span:nth-child(2) {
    top: 0.625rem; 
}

.iconemenu span:nth-child(3) {
    top: 1.25rem; 
}

.botaomenu:hover span,
.botaomenu:focus span,
.botaomenu:active span {
	background: white; 
}
.iconemenu.is-active span:nth-child(1) {
    opacity: 0; 
}

.iconemenu.is-active span:nth-child(2) {
    transform: rotate(45deg); 
}

.iconemenu.is-active span:nth-child(3) {
	top: 0.625rem; 
    transform: rotate(-45deg); 
}



.containermenu {
	position: fixed; 
	top: 12.5rem;
	left: 0; 
	z-index: 5; 
	width: 100vw;
	height: 100vh; 
	overflow: scroll; 

	background-color: rgba(255,255,255,0.95); 

	opacity: 0;
	pointer-events: none; 

	transition: top 500ms ease-in, opacity 300ms ease-in; 
}

.containermenu.is-open {
	opacity: 1; 
	top: 0; 
	pointer-events: auto; 
}

.containermenu .botaomenu {
	position: absolute; 
	top: 1.5rem;
	right: 1.5rem; 
}

.menu {
	text-align: center; 
	max-width: 62rem; 
	padding: 6rem 2rem 4rem;
	width: 100%; 
}

	.menuimagem {
		width: 5rem; 
		height: 5rem; 
		border-radius: 50%; 
		background-image: url('../img/codinome2.jpg');
		background-size: cover;
		background-position: center center;
		margin: 0 auto 1.5rem;
	}

	.menutitulo {
		max-width: 30rem; 
		margin: 0 auto; 
	}

	.menuclique {
		margin: 3rem 0;
	}

	.menuclique ul {
		list-style: none; 
		margin: 0; 
		padding: 0; 
	}

	.menuclique a {
		display: block; 
		font-size: 1.4rem; 
		padding: 1rem; 
		color: #A2A2A2; 
		text-decoration: none; 
		transition: color 300ms ease-in;
	}

	.menuclique a:hover,
	.menuclique a:focus,
	.menuclique a:active {
		color: #332F21; 
	}

.menu [class^="social-button"] {
	margin: 0 0.5rem; 
	height: 3.75rem; 
    width: 3.75rem; 
    font-size: 1.5rem;
}

@media only screen and (min-width: 46rem) { 

	.containermenu {
		display: flex; 
		justify-content: center; 
		align-items: center; 
	}

	.menu {
		padding: 0;
	}

	.menuclique {
		margin: 4rem 0; 
	}

		.menuclique ul {
			display: flex; 
			justify-content: space-between; 
		}

}